@(form: Option[Seq[(String,String)]])

<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

    </head>
    <body>

        <div id="content"></div>
        <form action='@routes.UserController.signIn()' method="POST">
            <input id="email" refs="email" name="email" type="email" placeholder="Email"required/>
            <input id="password" refs="password" name="password" type="password" placeholder="Password"/>
            <input type="submit" value="OK"/>
        </form>

        @form.map { seq =>
            <script type="text/javascript">
                    var o = {};
                    var a = '@seq(0)._1';
                    var v = '@seq(0)._2';
                    console.log(a,v);
                    @seq.foreach { fe => o["@fe._1"] = "@fe._2"; }

                    test(o);
            </script>
        }
    </body>
</html>

