<!DOCTYPE html>
<html>
    <head>
        <title>Sign In</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script type='text/javascript' src='@routes.Assets.versioned("bower_components/react/react.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("bower_components/react/react-dom.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("bower_components/jquery/dist/jquery.js")'></script>
    </head>
    <body>
        <div id="content"></div>
        <script type='text/javascript' src='@routes.Assets.versioned("javascripts/login.js")'></script>
    </body>
</html>

